version: '3.3'
services:
  nginx:
    image: 'nginx:1.13'
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    
  mysql:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'user'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'password'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
      # Where our data will be persisted
    volumes:
      - my-db:/var/lib/mysql
    
  app:
    restart: always
    environment:
      - MYSQL_DATABASE=db
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - PORT=8080
    build:
      dockerfile: Dockerfile.dev
      context: ./api
    working_dir: /app
    volumes:
      - ~/.m2:/root/.m2
    expose:
      - '8080'
    command: mvn clean spring-boot:run -Drun.profiles=prod
    depends_on:
      - nginx
      - mysql
volumes:
  my-db: